# {{ date }} <br> SWD5: Scientific Python

Welcome to the hack pad for SWD5 course from Research Computing at the University of Leeds!

You can edit this document using [Markdown syntax](https://guides.github.com/features/mastering-markdown/).

## Contents

1. [Links to resource](#Links-to-resources)
2. [Agenda](#Agenda)
3. [What's your name and where do you come from?](#What’s-your-name-and-where-do-you-come-from)
4. [Further reading](#Further-reading)

## Links to resources

- **Contact Research Computing** - https://bit.ly/arc-help
- **Course notes** - https://arctraining.github.io/swd5_sc_py/welcome.html
- **Github repository** - https://github.com/ARCTraining/swd5_sc_py
- **Research Computing website** - https://arc.leeds.ac.uk/

## Agenda

{% if type == "online" %}

    {% if morning %}

| Time     | Agenda                                     |
| -------- | ------------------------------------------ |
| 0900     | Intro, using Google colab, NumPy           |
| 0950     | Break                                      |
| 1000     | NumPy (cont.)                              |
| 1010     | SciPy                                      |
| 1050     | Break                                      |
| 1100     | SciPy (cont.)                              |
| 1150     | Questions                                  |
| 1200     | Close                                      |

### Agenda Day 2

| Time     | Agenda                                          |
| -------- | ----------------------------------------------- |
| 0900     | Pandas                                          |
| 0950     | Break                                           |
| 1000     | Pandas (cont.)                                  |
| 1020     | Matplotlib                                      |
| 1050     | Break                                           |
| 1100     | Matplotlib (cont.)                              |
| 1150     | Questions                                       |
| 1200     | Close                                           |


    {% else %}

### Agenda Day 1

| Time     | Agenda                                     |
| -------- | ------------------------------------------ |
| 1300     | Intro, using Google colab, NumPy           |
| 1350     | Break                                      |
| 1400     | NumPy (cont.)                              |
| 1410     | SciPy                                      |
| 1450     | Break                                      |
| 1500     | SciPy (cont.)                              |
| 1550     | Questions                                  |
| 1600     | Close                                      |

### Agenda Day 2

| Time     | Agenda                                          |
| -------- | ----------------------------------------------- |
| 1300     | Pandas                                          |
| 1350     | Break                                           |
| 1400     | Pandas (cont.)                                  |
| 1420     | Matplotlib                                      |
| 1450     | Break                                           |
| 1500     | Matplotlib (cont.)                              |
| 1550     | Questions                                       |
| 1600     | Close                                           |


    {% endif %}

{% else %}

### Agenda

| Time     | Agenda                                          |
| -------- | ----------------------------------------------- |
| 1000     | Intro, using Google Colab                       |
| 1010     | NumPy                                           |
| 1120     | Break                                           | 
| 1130     | SciPy                                           |
| 1200     | Lunch                                           |
| 1300     | SciPy (cont.)                                   |
| 1400     | Break                                           |
| 1410     | Pandas                                          |
| 1500     | Matplotlib                                      |
| 1550     | Questions                                       |
| 1600     | Close                                           |

{% endif %}

## What's your name and where do you come from? 

- **Add your own entry below using the edit mode**

## Further reading

- Python notebook magic commands - https://ipython.readthedocs.io/en/stable/interactive/magics.html
- Pandas documentation - https://pandas.pydata.org/docs/
- NumPy documentation - https://numpy.org/doc/
- SciPy documentation - https://docs.scipy.org/doc/scipy/
- Matplotlib documentation - https://matplotlib.org/stable/index.html 